<p id="notice"><%= notice %></p>

<h1>연동 계좌</h1>

<table>
  <thead>
    <tr>
      <th>은행명</th>
      <th>계좌번호</th>
      <th>잔고</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_accounts.each do |user_account| %>
      <tr>
        <td><%= user_account.bank_name %></td>
        <td><%= user_account.acount_number %></td>
        <td><%= user_account.cash %></td>
        <td><%= user_account.user.email %></td>
        <td><%= link_to 'Show', user_account %></td>
        <td><%= link_to 'Edit', edit_user_account_path(user_account) %></td>
        <td><%= link_to 'Destroy', user_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Account', new_user_account_path %>
<%= link_to '경기표', matches_path %>
<%= link_to '시청목록', boards_path %>